#list li{
    padding: 5px;
    margin: 2px;
    margin-left: 0px;
    background-color: #DDD; 
    font-size: 1.2rem;
    list-style-type: none;
}
#list{
    padding: 0px;
    display: none;
}
button{
    border: none;
    font-size: 1.1rem;
    padding: 20px;
    background-color: #0dc7df;
    color: rgb(0, 0, 0);
    border-radius: 8px;
}