:root {
    --dark-grey: #9FABAE;
    --light-grey: #dfe3e4;
    --green: #2ecc71;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    width: 650px;
    padding: 0;
}

ul li {
    position: relative;
    color: var(--dark-grey-);
    width: 25px;
    text-align: center;
}